.checkTask {
    margin-left: 2em;
}

header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: #d1e7d1;
    border: rgb(25, 135, 84) 5px solid;
    padding: 3em;
}

section {
    padding: 2.5em;
}

#addBtn {
    margin-top: 1em;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightskyblue;
}